*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
}

.kotak {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.kotak .User label {
    display: block;
}

.kotak input {
    padding-left: 20px;
    display: block;
}

.login {
    text-align: center;
    margin-bottom: 10px;
}

.kotak .pass label {
    margin-top: 20px;
    display: block;
}

.Lupa-Password {
    text-decoration: none;
}